@using wdws.Models
@model wdws.Models.Rezervacija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rezervacija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="putovanjeID" class="control-label"></label>
                <select asp-for="putovanjeID" class ="form-control" asp-items="ViewBag.putovanjeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="brojPutnika" class="control-label"></label>
                <input asp-for="brojPutnika" class="form-control" />
                <span asp-validation-for="brojPutnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ukupnaCijena" class="control-label"></label>
                <input asp-for="ukupnaCijena" class="form-control" />
                <span asp-validation-for="ukupnaCijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MilesBodovi" class="control-label"></label>
                <input asp-for="MilesBodovi" class="form-control" />
                <span asp-validation-for="MilesBodovi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rezervisanaSobaID" class="control-label"></label>
                <input asp-for="rezervisanaSobaID" class="form-control" />
                <span asp-validation-for="rezervisanaSobaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control" asp-items="Html.GetEnumSelectList<StatusRezervacije>()" multiple="multiple"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clientID" class="control-label"></label>
                <input asp-for="clientID" class="form-control" />
                <span asp-validation-for="clientID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VodicUkljucen" /> @Html.DisplayNameFor(model => model.VodicUkljucen)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

