<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WDWS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <!-- <link rel="stylesheet" href="~/WDWS.styles.css" asp-append-version="true"/> -->
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-logo">
            <!-- Logo -->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="css/images/logo.png" alt="WDWS Logo">
            </a>
        </div>
        <ul class="navbar-menu">
            <!-- Menu Items -->
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Top Ponude</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Bus Putovanja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Avio Putovanja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Naš Tim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Kontakt</a>
            </li>
        </ul>
        <!-- Login Button -->
        <a class="btn btn-warning" asp-area="" asp-controller="" asp-action="">Login</a>
    </nav>
</header>
<div class="container-fluid">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 Wanderwise - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>