@using wdws.Models
@model wdws.Models.Smjestaj

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Smještaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger">Smještaj </div>
            <div class="form-group">
                <label asp-for="naziv" class="control-label">Naziv smještaja: </label>
                <input asp-for="naziv" class="form-control" />
                <span asp-validation-for="naziv" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="VrstaSmjestaja" class="control-label">Vrsta smještaja: </label>
                <select asp-for="VrstaSmjestaja" class="form-control"
                        asp-items="Html.GetEnumSelectList<VrstaSmjestaja>()"></select>
                <span asp-validation-for="VrstaSmjestaja" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="lokacija" class="control-label">Lokacija smještaja: </label>
                <select asp-for="lokacija" class="form-control" asp-items="ViewBag.Lokacije"></select>
            </div>
            
            <div class="form-group">
                <label asp-for="KontaktTelefon" class="control-label">Kontakt telefon: </label>
                <input asp-for="KontaktTelefon" class="form-control" />
                <span asp-validation-for="KontaktTelefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KontaktEmail" class="control-label">E-mail: </label>
                <input asp-for="KontaktEmail" class="form-control" />
                <span asp-validation-for="KontaktEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxKapacitet" class="control-label">Kapacitet smještaja: </label>
                <input asp-for="MaxKapacitet" class="form-control" />
                <span asp-validation-for="MaxKapacitet" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CijenaSmjestaja" class="control-label">Cijena smještaja:</label>
                <input asp-for="CijenaSmjestaja" class="form-control" />
                <span asp-validation-for="CijenaSmjestaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
