@model wdws.Models.Pasos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pasos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clientID" class="control-label"></label>
                <input asp-for="clientID" class="form-control" />
                <span asp-validation-for="clientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="drzavaKojaIzdaje" class="control-label"></label>
                <select asp-for="drzavaKojaIzdaje" class="form-control" asp-items="ViewBag.Drzave" multiple="multiple"></select>
                <span asp-validation-for="drzavaKojaIzdaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nacionalnost" class="control-label"></label>
                <<select asp-for="nacionalnost" class="form-control" asp-items="ViewBag.Drzave" multiple="multiple"></select>
                <span asp-validation-for="nacionalnost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumIsteka" class="control-label"></label>
                <input asp-for="datumIsteka" class="form-control" />
                <span asp-validation-for="datumIsteka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napomene" class="control-label"></label>
                <input asp-for="napomene" class="form-control" />
                <span asp-validation-for="napomene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

