@model wdws.Models.Pasos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pasos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="drzavaKojaIzdaje" class="control-label"></label>
                <input asp-for="drzavaKojaIzdaje" class="form-control" />
                <span asp-validation-for="drzavaKojaIzdaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nacionalnost" class="control-label"></label>
                <input asp-for="nacionalnost" class="form-control" />
                <span asp-validation-for="nacionalnost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datumIsteka" class="control-label"></label>
                <input asp-for="datumIsteka" class="form-control" />
                <span asp-validation-for="datumIsteka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="napomene" class="control-label"></label>
                <input asp-for="napomene" class="form-control" />
                <span asp-validation-for="napomene" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
