@{
    ViewData["Title"] = "Home Page";
}

<section class="section1">
    <div class="section1-content">
        <h1><b>Jeste li spremni za putovanje svog života?</b></h1>
        <p>Uz Wanderwise, svako Vaše putovanje će postati putovanje za pamćenje. Saznajte više o našim ponudama.</p>
        <input type="text" placeholder="npr. Rim, Italija">
        <div class="buttons">
            <button class="start">Započnite</button>
            <button class="learn-more">Saznajte više</button>
        </div>
    </div>
</section>


<section class="section2">
    <h1> preporuke </h1>
</section>

<!-- <section class="section3">
    <h1> Top Ponude </h1>
</section> -->