/* Global HTML font size */
html {
  font-size: 14px;
}

/* Responsive font size adjustment for larger screens */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Button and form control focus styling */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Ensure body covers full viewport height */
html {
  position: relative;
  min-height: 100%;
}

/* Add margin at the bottom of the body to prevent content from overlapping footer */
body {
  margin-bottom: 60px; /* Adjust as necessary */
}

/* Container fluid for full-width content */
.container-fluid {
  width: 100%;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #f8f9fa; /* Light gray background */
}

.navbar-logo img {
  height: 40px; /* Adjust the height of the logo image */
  margin-bottom: auto;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #343a40;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}
.button-container {
  display: flex;
  gap: 5px; /* Adjust the gap between buttons as needed */
}
/* Button styling */
.btn-warning {
  background-color: rgba(7, 152, 255, 0.92); /* Yellow background */
  color: #ffffff; /* Dark gray text */
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-secondary{
  background-color: #ffc107; /* Yellow background */
  color: #ffffff; /* Dark gray text */
  border: none;
}

.btn-warning:hover {
  background-color: #ffca28; /* Lighter yellow on hover */
  color: #343a40;
}

/* Footer styling */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333; /* Dark gray background */
  color: #f8f9fa; /* Off-white lettering */
  text-align: center;
  padding: 20px 0; /* Adjust padding as needed */
}
