@page
@model RegisterModel
@{
    ViewData["Title"] = "Kreiraj novi račun";
}

<div class="container-fluid d-flex flex-column min-vh-100 p-0">
    <!-- Main Content -->
    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="register-container">
            <div class="register-image"></div>
            <div class="register-form p-4">
                <h2><b>Kreiraj novi račun!</b></h2>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Unesite email" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Unesite lozinku" />
                        <label asp-for="Input.Password" class="form-label">Lozinka</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Potvrdite lozinku" />
                        <label asp-for="Input.ConfirmPassword" class="form-label">Potvrdi lozinku</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3 @if (User.IsInRole("Administrator")){@Html.Raw("visible");} else{@Html.Raw("invisible");}">
                        <select class="form-select" aria-label="Tip korisnika" asp-for="Input.Uloga">
                            <option selected value="2">Vrsta korisnika: </option>
                            <option value="1">Administrator</option>
                            <option value="2">Klijent</option>
                            <option value="3">Vodič</option>
                        </select>
                    </div>
                    <button id="registerSubmit" type="submit" class="btn btn-primary btn-block">Registrirajte se</button>
                    <div class="register-link">
                        <p>Već imate račun?</p>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-secondary">Prijavite se</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        background: linear-gradient(to bottom right, #e09201, #e4330c, #c62676, #771390, #1a4f90); /* Orange to pink to blue gradient */
        margin: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
    }
    
    .container-fluid {
        background: rgb(0,0,0,0%); /* Light grey background */
    }

    .register-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0.9); /* Slightly opaque white background */
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px; /* Added padding for better spacing inside the container */
        margin: 20px; /* Added margin for spacing around the container */
    }

    .register-form {
        width: 100%;
    }

    .register-image {
        /* Add any image or logo you want here */
        height: 150px;
        width: 150px;
        background-color: #ddd; /* Placeholder background */
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .register-link {
        text-align: center;
        margin-top: 20px;
    }
</style>
